[Unit]
Description=weblog analysis Outpost service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/outpost
ExecStart=/bin/python3 /root/outpost/logcheck.py --exec=server
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
