body {
  font-family: Arial, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 600px;
}

h2 {
  color: #252525;
  text-align: center;
  background-color: #f6f6ef;
}

a:link,
a:visited {
  text-decoration: none;
  color: rgb(94, 1, 1);
}

a:hover,
a:active {
  text-decoration: none;
  color: #252525;
}
